@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar on scrollable row */
.scrollable-row {
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
}

.scrollable-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


.tooltip {
  transition: opacity 0.3s ease;
  visibility: hidden;
  cursor: pointer;
}

.tooltip-visible {
  visibility: visible;
  cursor: pointer;
}

.disabled-shade{
    opacity: 0.5;
}