@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar on scrollable row */
.scrollable-row {
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
}

.scrollable-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Add this to your CSS to hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.tooltip {
  transition: opacity 0.3s ease;
  visibility: hidden;
  cursor: pointer;
}

.tooltip-visible {
  visibility: visible;
  cursor: pointer;
}

.disabled-shade{
    opacity: 0.5;
}

.heart {
  color: gray; /* Default color for the heart */
  transition: color 0.3s ease; /* Smooth transition for color change */
  cursor: pointer; /* Change cursor to pointer */
}

.heart.red {
  color: red; /* Color when the book is in the wishlist */
  animation: pulse 0.5s; /* Trigger animation when added to wishlist */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.2); /* Scale up */
  }
  100% {
    transform: scale(1); /* Scale back to original size */
  }
}